#footerSection
  .container
    .row
      .span3
        %h5 ACCOUNT
        %a{:href => "login.html"} YOUR ACCOUNT
        %a{:href => "login.html"} PERSONAL INFORMATION
        %a{:href => "login.html"} ADDRESSES
        %a{:href => "login.html"} DISCOUNT
        %a{:href => "login.html"} ORDER HISTORY
      .span3
        %h5 INFORMATION
        %a{:href => "contact.html"} CONTACT
        %a{:href => "register.html"} REGISTRATION
        %a{:href => "legal_notice.html"} LEGAL NOTICE
        %a{:href => "tac.html"} TERMS AND CONDITIONS
        %a{:href => "faq.html"} FAQ
      .span3
        %h5 OUR OFFERS
        %a{:href => "#"} NEW PRODUCTS
        %a{:href => "#"} TOP SELLERS
        %a{:href => "special_offer.html"} SPECIAL OFFERS
        %a{:href => "#"} MANUFACTURERS
        %a{:href => "#"} SUPPLIERS
      #socialMedia.span3.pull-right
        %h5 SOCIAL MEDIA
        %a{:href => "#"}
          %img{:alt => "facebook", :height => "60", :src => "themes/images/facebook.png", :title => "facebook", :width => "60"}/
        %a{:href => "#"}
          %img{:alt => "twitter", :height => "60", :src => "themes/images/twitter.png", :title => "twitter", :width => "60"}/
        %a{:href => "#"}
          %img{:alt => "youtube", :height => "60", :src => "themes/images/youtube.png", :title => "youtube", :width => "60"}/
    %p.pull-right © Bootshop