#header
  .container
    #welcomeLine.row
      .span6
        Hi
        %strong 
          =  user_signed_in? ? current_user.first_name : 'Guest'
    
    = render 'shared/nav_bar'
    = render 'shared/messages'