#logoArea.navbar
  %a#smallScreen.btn.btn-navbar{"data-target" => "#topMenu", "data-toggle" => "collapse"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  .navbar-inner
    = link_to root_path, class: 'brand' do
      = image_tag 'logo.png', alt: 'Boots'
    %ul#topMenu.nav.pull-right
      %li
        - if user_signed_in?
          = link_to destroy_user_session_path do
            %span.btn.btn-large.btn-success Logout
        -else 
          %a{"data-toggle" => "modal", :href => "#login", :role => "button", :style => "padding-right:0"}
            %span.btn.btn-large.btn-success Login
          #login.modal.hide.fade.in{"aria-hidden" => "false", "aria-labelledby" => "login", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3 Login Block
            .modal-body
              = render 'shared/login'