.well.well-small
  %a#myCart{:href => "product_summary.html"}
    %img{:alt => "cart", :src => "themes/images/ico-cart.png"}>/
    3 Items in your cart
    %span.badge.badge-warning.pull-right $155.00